/*Global styles*/

@font-face {
   font-family: "Ubuntu";
	 src: url("../fonts/Ubuntu/Ubuntu-Light.ttf")
format("truetype");
}

@font-face {
   font-family: "PT_Sans";
	 src: url("../fonts/PT_Sans/PT_Sans-Web-Regular.ttf")
format("truetype");
}

html {
  font-size: 16px;
  font-family: 'PT_Sans';
  color: #c0c0c0;
}

.site {
  padding: 2rem 1.5rem;
}

h1, h2, h3, h4 {
  color: #4d4d4d;
}

h3 {
  font-size: 1.25rem;
}

h2 {
  font-size: 1.75rem;
  font-weight: bolder;
  padding-top: 2rem;
}

.lhs {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.lhs img {
  width: 100%;
}

.lhs video {
  width: 100%;
}

.rhs {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding-left: 1.5rem;
}

.image img {
  max-width: 100%;
	height: auto;
  display: block;
}

/*Nav styles*/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
}

.logo {
  font-family: "Ubuntu";
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}

.logo h1{
  font-weight: bold;
  color: black;
}

.menu {
  display: flex;
  align-items: center;
  color: #4d4d4d;
}

.space {
  height: 3.2rem;
  padding-left: 1rem;
  background-color: #afeeee;
}

/*Banner styles*/

.banner {
  background-color: #dcdcdc;
}

.banner .site {
  display: flex;
  align-items: center;
}

.banner h1 {
  font-size: 3rem;
  padding-bottom: 2rem;
  font-weight: 900;
  color: #4d4d4d;
}

.banner h4 {
  font-size: 1.5rem;
  padding-bottom: 2rem;
}

.banner .rhs {
  width: 30%;
}

.banner .rhs div{
  display: flex;
  justify-content: center;
  color: white;
  background-color: #4d4d4d;
  padding: .5rem;
}


/*Overview styles*/

.overview .site{
  display: flex;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.overview h2{
  padding-bottom: 1.5rem;
}

.overview p{
  padding-bottom: 2rem;
}

.overview .lhs span{
  color: #4d4d4d;
}

.overview .content {
  display: flex;
  align-items: center;
  padding : 1rem;
  border: .05rem solid #c0c0c0;
}

.overview .image {
  width: 35%;
  overflow: hidden;
}

.overview .text {
  width: 65%;
  padding-left: 1rem;
  line-height: 1.75rem;
}


/*Majors styles*/

.majors {
  background-color: #dcdcdc;
}

.majors .container{
  padding-top: 2rem;
  padding-left: 4.5rem;
  padding-right: 4.5rem;
}

.majors h2{
  text-align: center;
}

.majors .toprow{
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
}

.majors .content {
  background-color: white;
  width: 30%;
}

.majors .text{
  padding: 1rem 1rem 1.5rem 1rem;
}

.majors h3{
  padding-bottom: 1rem;
}

.majors span,
.majors p{
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.majors .bottomrow{
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
}

/*Thesis styles*/

.thesis h2{
  text-align: center;
}

.thesis .site{
  display: flex;
  padding-bottom: 2rem;
}

.thesis .lhs h3{
  padding-top: 1.5rem;
  padding-bottom: .5rem;
}

.thesis .lhs span{
  padding-bottom: 2rem;
  color: #4d4d4d;
}

.thesis .content {
  display: flex;
  align-items: center;
  padding : 1rem;
}

.thesis .rhs .content:nth-child(1){
  background-color: #c0c0c0;
}

.thesis .image {
  width: 35%;
  overflow: hidden;
}

.thesis .text {
  width: 65%;
  padding-left: 1rem;
  line-height: 1.75rem;
}

/*Footer styles*/

footer {
  border-top: 1px solid #c0c0c0;
  display: flex;
  justify-content: space-between;
}
